* {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}

body {
  text-align: center;
  background-color: #00072D;
}

h1 {
  font-size: 5rem;
  color: #F0F0D5;
  font-family: "Arvo", cursive;
  text-shadow: 15px 0 #720101;

}

.w {
  background-image: url("images/crash.png");
}

.a {
  background-image: url("images/kick.png");
}

.s {
  background-image: url("images/snare.png");
}

.d {
  background-image: url("images/tom1.png");
}

.j {
  background-image: url("images/tom2.png");
}

.k {
  background-image: url("images/tom3.png");
}

.l {
  background-image: url("images/tom4.png");
}

.set {
  margin: 2% auto;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 black;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.play {
  color: blue;
  background-color: yellow;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
}

.stop {
  color: blue;
  background-color: yellow;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
}

.Credits {
  background-color: #800000;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #F0F0D5;
  border-radius: 20px;
  margin:20px;
}

#s {
  height: 200px;
}

#w1 {
  height: 200px;
}

#w2 {
  height: 200px;

}

button {
  box-shadow: #720101;
  border-radius: 15px;
}

.drum:hover {
  box-shadow: 3px 3px 3px 3px #F0F0D5;
  opacity: 0.5;
  cursor: pointer;
}

.play:hover {
  box-shadow: #800000;
  opacity: 0.5;
  cursor: pointer;
}

.stop:hover {
  box-shadow: #800000;
  opacity: 0.5;
  cursor: pointer;

}